[Unit]
Description=Microsoft Visual Studio Code Server

[Service]
User=vagrant
WorkingDirectory=/home/vagrant
ExecStart=code tunnel --accept-server-license-terms
Restart=always

[Install]
WantedBy=multi-user.target